@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: theme("colors.olive.700");

    --card: theme("colors.olive.700");
    --card-foreground: theme("colors.white");

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: theme("colors.olive.200");

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: theme("colors.olive.700");
    --input: theme("colors.olive.700");
    --ring: 222.2 84% 4.9%;

    --accent: theme("colors.olive.700")
    --accent-foreground: theme("colors.white");

    --clickable: theme("colors.olive.700")
    --clickable-foreground: theme("colors.white");

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    background-color: var(--clickable);
    color: var(--clickable-foreground);
  }
}

@layer base {
  html {
    font-family: "Nunito", system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: "Gambarino", serif;
  }
}
